<p id="notice"><%= notice %></p>

<p>
  <strong>Image data:</strong>
  <%= @prof_picture.image_data %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @prof_picture.profile %>
</p>

<p>
  <strong>Style:</strong>
  <%= @prof_picture.style %>
</p>

<p>
  <strong>Description:</strong>
  <%= @prof_picture.description %>
</p>

<%= link_to 'Edit', edit_prof_picture_path(@prof_picture) %> |
<%= link_to 'Back', prof_pictures_path %>
