<%= form_tag "/requests/#{request.id}/charge" do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>
  
  <%= hidden_field_tag 'amount', request.price %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= request.artist %>"
          data-amount="<%= (request.price * 100) %>"
          data-label= "Pay <%= request.artist.profile.username %>"
          data-locale="auto">
  </script>

<% end %>


